{
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 80,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "rules": {
    "import/no-anonymous-default-export": 0
  },
  "overrides": [
    {
      "files": ".prettierrc",
      "options": { "parser": "json" }
    }
  ]
}
